body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
=======


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px
}

.header-color {
  background-color: rgb(90, 81, 134);
}

.login-size {
  font-size: 20px;
}

.single-exercise {
  font-size: 25px;
}
>>>>>>> 7d3b9dac1db48f7f490788aca4dc2da5810b79a4
